body {
background-image: url('../Images/background.jpg');
background-repeat:no-repeat;
background-size:cover;
}

.border
{
  margin-top:50px;
}

.mainbox
{
    height:500px;
}

.NolistStyle
{
    list-style:none;
    
}

.NLS{
    text-decoration:none;
    color:white;
    font-size:20px;
   

}
 a:hover{
        text-decoration:none;
        color:grey;
    }

 .pris{
     font-size:20px;
     font-weight:bold;
 }
 a:visited {
    text-decoration:none;

    font-size:20px;
}

 .opaci{
    background-color:rgba(128, 128, 128,0.4);
    border:1px solid;
    
 }